name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Image
        #run: docker build -t ${{ secrets.DOCKER_USERNAME }}/client-a:${{ github.sha }} .
        run: docker build -t gokarni/client-a-node-app:${{ steps.vars.outputs.SHA }} ./devops-sample-nest

      - name: Push Image
        run: docker push gokarni/client-a-node-app:${{ steps.vars.outputs.SHA }}

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker service update \
            --image ${{ secrets.DOCKER_USERNAME }}/client-a:${{ github.sha }} \
            multi_client-a
